.config-custom-component {
  width: 100%;
  font-family: Inter, Serif, Sans-serif;
  font-size: 14px;
  padding: 20px;
}

.sample-multiple-select {
  width: 400px !important;
  & .Select__menu {
    width: 300px;
    & .Select__menu-list {
      & .Checkbox .Checkbox__label.Checkbox--select-fullWidth {
        width: 200px !important;
      }
    }
  }
}
