.tippy-wrapper[aria-expanded="true"] {
  .embed-asset {
    border: 1px dashed #6c5ce7;
  }
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.scrte--img-container {
  position: relative;
  display: inline-block;
  z-index: 2;
  background: #f5f5f5;

  button {
    margin-left: 3px;
    margin-right: 3px;
  }

  &:hover {
    opacity: 1;
  }
}

.scrte-form-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  > div {
    flex: 1;
    max-height: 345px;
    overflow-y: auto;
  }
}

.noLineHeight,
.tippy-wrapper {
  line-height: 0;
}

.scrte-image-resizer-feedback-right,
.scrte-image-resizer-feedback-left {
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 1;
  height: 100%;
  width: 15px;
  cursor: col-resize;
}

.scrte-image-resizer-feedback-left {
  left: 0;
}

.scrte-image-resizer-feedback-right {
  right: 0;
}

.scrte-image-resizer-feedback {
  transition: opacity 300ms ease-in 0s;
  border-radius: 20px;
  background: rgba(15, 15, 15, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  width: 6px;
  height: 48px;
  max-height: 50%;
  opacity: 1;
}

.embed-download {
  width: 180px;
  height: 180px;
  &:hover {
    border: 1px solid #6c5ce7;
  }
}

.embed-asset {
  background: #f5f5f5;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin-bottom: -1px;

  .tippy-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.embed-asset--inline {
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
  margin: 0 0.15rem;
  margin-bottom: -1px;
  width: 100%;
  height: 100%;
}

.embed-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  color: white;
  height: 25px;
  padding: 3px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.embed-icon svg rect {
  stroke: white;
}

.embed-asset-active {
  border: 1px solid #6c5ce7;
}

.embed--btn-group {
  height: 32px;
  transition: 0.15s all ease-in-out;
  margin-left: 3px;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 4px 15px 0 #6c5ce733, 0 3px 14px 3px #0000001f,
    0 8px 10px 1px #00000024;
  background: white;
  overflow: hidden;

  & button {
    background: white;
    outline: none;
    border: none;
    padding: 6px;
    height: 32px;
    width: 32px;
    border-radius: 4px;

    &:hover {
      background: #edf1f7 !important;

      & svg path {
        fill: #6c5ce7;
      }
    }

    & svg {
      height: 20px !important;
      width: 20px !important;
    }
  }
}

.scrte--caption {
  color: #647696;
  font-size: 12px;
  font-size: 0.75rem;
  text-align: center;
  margin: 0;
}

.modal {
  display: block;
  width: 100%;
  height: auto;

  .ant-modal-body {
    padding: 0 !important;
    display: block;
  }
}

.modal-icon {
  display: block;
  width: 70%;
  height: auto;
}

.scrte--action-tooltip {
  align-items: flex-start !important;

  ul {
    margin-top: 1rem;
  }

  li {
    display: flex;
  }
}

.modal-checkbox {
  margin-left: 10px;
}

.deleteModalBody {
  font-family: Inter, Serif, Sans-serif;
  p {
    color: #222;
    font-size: 14px;
    line-height: 1.5;
  }
  span {
    font-weight: 600;
  }
}

.remove-modal-icon {
  & circle {
    fill: #d62400 !important;
  }
}

.Button--delete:hover {
  & .remove-modal-icon {
    & circle {
      fill: white !important;
    }

    & path {
      stroke: #d62400 !important;
    }
  }
}

.ReactModal__Overlay .ReactModal__Content .ReactModal__Content__body {
  max-height: unset !important;
}

.edit-modal-properties {
  padding: 2px !important;
}

.rte-prop-toggle-wrap {
  margin: 8px 0;
  padding: 8px;
}
