.config-wrapper {
  margin: 0;

  & .TextInput__input {
    width: 97% !important;
  }

  & .Field {
    padding: 30px;
    margin: 0;
  }

  & .FieldLabel {
    font-weight: 700 !important;
    line-height: 16.2px !important;
  }

  .FieldLabel + div {
    display: inline-block;
  }

  .TextInput--with-count {
    padding-right: 0 !important;
  }

  .TextInput__char-count {
    margin: 0.3125rem 0 0 0.5rem !important;
  }

  .TextInput__char-length--reached-text {
    float: initial !important;
    margin: 10px !important;
  }

  .tippy-wrapper {
    margin-right: 10px;
  }

  .radio-wrapper {
    padding: 20px 10px;
  }

  .radio-button {
    margin-right: 20px;
  }

  .toggle-save-response {
    padding: 20px 10px;
  }

  .Radio-wrapper {
    padding: 0 10px;
    margin-bottom: 0;

    & .Radio {
      margin-right: 20px;
    }
  }

  .InstructionText {
    visibility: visible;
  }

  & .dam-keys {
    padding-top: 0;
    margin-left: 0;
  }

  // This needs to change according to change in default values, need to handle this dynamically
  .Select__value-container > div:nth-child(-n + 4) {
    pointer-events: none;
    cursor: alias;

    .Select__multi-value__remove {
      display: unset;
      display: none !important;
    }
  }

  .Select__option--is-disabled {
    cursor: not-allowed;

    .Checkbox {
      input {
        background-color: -internal-light-dark(
          rgba(239, 239, 239, 0.3),
          rgba(59, 59, 59, 0.3)
        );
        color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
        border-color: rgba(118, 118, 118, 0.3);
      }
    }
  }

  & .Select {
    min-width: 300px !important;
    max-width: unset !important;
  }

  & .dam-keys-select {
    min-width: 200px !important;
  }

  .Select__menu {
    min-width: 150px !important;
    & .Select__menu-list {
      max-height: 250px !important;
    }
  }

  & .Select__add-option {
    cursor: pointer;
    color: #475161 !important;
    font-size: 14px;

    svg {
      margin: 0 15px;
    }
  }
}

.note-p {
  display: inline-block !important;
  margin: 5px 5px 0 0;
}

.modal_toast_message {
  bottom: 60px !important;
}

.json-field {
  & .Radio-wrapper {
    margin: 20px 0;
  }
}

#tippy-1,
#tippy-2,
#tippy-3,
#tippy-4,
#tippy-5 {
  padding-bottom: 5px;
}

.multiConfig--warn {
  color: #a31b00;
}

.multi-config-accordian-wrapper {
  margin: 30px;

  & .multi-config-label-wrapper {
    padding: 5px 0;
    width: 500px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  & .multi-config-default-label {
    border: 1px solid #a9b6cb;
    border-radius: 8px;
    font-size: 0.6875rem;
    font-weight: 500;
    color: #647696;
    margin-left: 1rem;
    padding: 0.1875rem 0.25rem;
  }

  & .Dropdown__menu--primary {
    z-index: 5;
    left: -30px;
    top: 38px;
    border-radius: 4px;

    & .Dropdown__menu__list {
      & .Dropdown__menu__list__item {
        padding: 10px !important;
      }
    }
  }

  & .Accordion.Accordion-v2 .Accordion-v2__heading {
    margin: 0 -1rem;

    & .middle-truncate-start {
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 135%;
      letter-spacing: -0.003px;
      color: #222222;
    }
  }

  & .Accordion.Accordion-v2 .Accordion__open .Accordion__data {
    padding: 0 !important;
    margin: 0;

    & .multi-config-wrapper__sublabel {
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 185%;
      color: #475161;
      margin-top: 10px;
      margin-bottom: 16px;
    }
  }

  & .multi-config-wrapper__configblock {
    margin: 16px 0;
  }

  & .Field {
    padding: 24px 24px 0 24px !important;

    & .Checkbox {
      margin: 10px !important;
    }
  }

  & .multi-config-default-checkbox {
    padding: 30px 24px !important;

    & .Checkbox__label {
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.16px;
      color: #212121;
    }
  }

  & .multi-config-accordian {
    & .Accordion__heading {
      margin: 0 !important;
    }
  }

  & .multi-config-dropdown-action-item {
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      margin-right: 8px;
    }
  }
}

.ReactModal__Content {
  & .Field {
    padding: 24px !important;
  }
}

.TextInput--suffix
  .TextInput__suffix__wrapper.TextInput__password
  + .TextInput__input {
  padding-right: 10px !important;
}
