.app {
  display: flex;
  .layout-container {
    display: flex;
    width: 100%;
    .page-wrapper {
      padding: 0;
      width: 100%;

      & .FieldLabel {
        font-weight: 700 !important;
      }
    }
  }

  .loader-component {
    display: flex;
    flex-direction: column;
  }
}
