REACT_APP_CUSTOM_FIELD_URL = YOUR CUSTOM FIELD DOMAIN URL
REACT_APP_REGION_MAPPING = '{"NA": {"JSON_RTE_URL": /*YOUR RTE DOMAIN URL NA REGION*/ },"EU": {"JSON_RTE_URL": /*YOUR RTE DOMAIN URL EU REGION*/ },"AZURE_NA": {"JSON_RTE_URL": /*YOUR RTE DOMAIN URL AZURE NA REGION*/ },"AZURE_EU": {"JSON_RTE_URL": /*YOUR RTE DOMAIN URL AZURE EU REGION*/ }}'